/* ##### STYLING & LAYOUT ##### */
body {
	background-image: url("../images/background.png");
    background-repeat: repeat;
	min-height:100%;
	margin: 0;
	padding: 0;
	color: #cecece; /* font colour */
	font-family: "Open Sans", sans-serif;
}
header {
	float:left;
	width: 100%;
}
h1, h2, h3, h4 {
	font-family: "Russo One", sans-serif;
	margin: 0;
	padding: 10px 0;
	color: #fff;
	text-align:center;
	font-weight: normal;
}
h1.orange, h2.orange, h3.orange, h4.orange {
	background-color: #f1592a;
}
h1.black-orange, h2.black-orange, h3.black-orange, h4.black-orange {
	background-color: #000;
	color: #f1592a;
}
.orange-text {
	color:#f1592a;
}
.page-title {
width: 100%;
color: #F1592A;
margin-top: 30px;
float: left;
font-size: 2.5em;
}
p {
	margin: 10px 10px;
	font-size: 1em;
	text-align:center;
}
p.error-message {
	color: #ff0000;
	padding: 220px 20px 0px 20px;
}
a {
	text-decoration: none;
}
a:link {
	color: #cecece;
}
a:visited {
	color: #a7a7a7;
}
footer a:visited, header a:visited {
    color: #cecece;
}
a:hover, footer a:hover, header a:hover {
    color: #f1592a;
}
a:active, footer a:active, header a:active {
    color: #f1592a;
}
.new-release-image {
	padding:20px 79px;
}

/* ##### CONTAINERS ##### */
.container {
	width:980px;
	margin-left:auto;
	margin-right:auto;
}
.fw-row {
	float:left;
	margin: 0;
	padding: 0;
	width: 100%;
}
.left-box {
	float:left;
	width: 38%;
	margin-top: 30px;
}
.right-box {
	float:right;
	width: 58%;
	margin-top: 30px;
}
.fw-box {
	width: 100%;
	float: left;
	margin-top: 30px;
}
.center-hw-box {
	width: 50%;
	float: left;
	margin-top: 30px;
	margin-left: 25%;
	margin-right: 25%;
}
.bg-opacity {
	background-image: url("../images/bg-opacity.png");
	background-repeat: repeat;
}
.bg-black {
	background-color: black;
}
.box-orange-border {
	border:solid 4px #f1592a;
}
img.feature-images {
	margin-top: 30px;
}
.clear {
	clear: both;
}
.article {
	padding:10px 120px;
}
.article p {
	text-indent: 50px;
	text-align: justify;
	word-spacing: 2px;
	letter-spacing: 1px;
	padding: 10px 0;
}
.italic-references {
	font-style: italic;
	padding:0 20px 20px 20px;
}
.article li {
	padding-bottom:15px;
}
.center-align {
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 30px;
}
.fav-picks img {
	float: left;
	padding: 15px;
}

/* ##### NAV ##### */
nav {
	float:left;
	width: 100%;
}
nav ul {
	padding: 0;
	float: left;
	margin: 0;
}
nav li {
	float: left;
	display: block;
	padding: 10px 10px 10px 0;
	color:#cecece; /* TEMP */
	font-family: "Russo One", sans-serif;
	font-size: 1.0em;
}
nav a {
	padding:10px 0;
	margin-right: 20px;
}
.user-nav {
	float: left;
	padding-left: 150px;
}

/* ##### FOOTER ##### */
footer {
	margin-top: 30px;
	float: left;
	width: 100%;
	font-size: 0.9em;
}
footer ul {
	padding: 0;
	float: left;
	margin-left: auto;
}
footer li {
	float: left;
	display: block;
	color:#cecece; /* TEMP */
	font-family: "Open Sans", sans-serif;
	margin-right: 20px;
}
footer a {
	display: block;
	padding:10px;
	margin: 5px;
}
.infotech {
	width: 105px;
	margin-left: auto;
	margin-right: auto;
}
.align-footer {
	text-align:center;
	width: 505px;
	margin-left: auto;
	margin-right: auto;
}

/* ##### FORMS #####*/
label {
	float:left;
	width:25%;
	text-align:right;
	padding:0 15px 0 166px;
}
input[type="text"], input[type="password"], select {
	width:25%;
}
input[type="submit"], input[type="reset"] {
	background: none;
    cursor: pointer;
    font-family: "Russo One", sans-serif;
    font-size: 1em;
    color: black;
    border: none;
    background-color: #f1592a;
    border-radius: 5px;
    padding: 5px;
    margin: 0 5px;
}
input[type="submit"]:hover, input[type="reset"]:hover {
	color: white;
}
.form-buttons {
	text-align:center;
	padding:25px 0;
}
a.tip {
	outline:none;
	float: right;
    position: relative;
    top: -20px;
    right: 260px;
    font-size: 0.75em;
}
a.tip:hover {
	text-decoration:none;
} 
a.tip span {
    z-index:5;
    display:none; 
    padding:14px 20px;
    margin-top:-25px;
    margin-left:40px;
    width:150px;
    line-height:16px;
    border-radius:4px;
    min-height:54px;
    font-size:1.0em;
}
a.tip:hover span{
    display:inline;
    position:absolute;
    color:#111;
    border:1px solid #f1592a; 
    background:#fff;}
.callout {
	z-index:10;
	position:absolute;
	top:30px;
	border:0;
	left:-12px;
}
/* Contact Form */
#contact-form label {
	padding:0 15px 0 62px;
}
#contact-form input[type="text"], 
	#contact-form input[type="password"], 
	#contact-form select {
	width:35%;
}
/* Login form */
#login-form {
    padding-bottom: 20px;
}
#login-form label {
    padding-left: 89px;
}
/* Admin forms */
#select-member label {
	padding:0 15px 0 30px;
}
#select-member select {
	width: 50%;
}
#admin-menu input[type="submit"] {
    margin: 6px;
    width: 215px;
    padding: 10px;
    border-radius: 15px;
}
#admin-menu input[type="submit"]:hover {
	color: white;
}
#edit-member label {
    width: 39%;
    padding: 0 15px 0 10px;
}
#edit-member input[type="text"], 
	#edit-member input[type="password"], 
	#edit-member select {
	width: 38%;
}
#edit-member a.tip {
	right: 60px;
}
#edit-member a.tip span {
    margin-top: 20px;
    margin-left: -138px;
}
#edit-member a.tip:hover span{
    display:inline;
    position:absolute;
    color:#111;
    border:1px solid #f1592a; 
    background:#fff;}
#edit-member.callout {
	z-index:10;
	position:absolute;
	top:30px;
	border:0;
	left:-12px;
}